In [12]:
import pyprind 
import pandas as pd

In [13]:
import os

In [14]:
basepath = 'aclImdb'

In [15]:
labels = {'pos':1,'neg':0}
pbar = pyprind.ProgBar(5000)

In [16]:
df=pd.DataFrame()

In [17]:
for s in ('test','train'):
    for l in ('pos','neg'):
        path = os.path.join(basepath,s,l)
        for file in os.listdir(path):
            with open(os.path.join(path,file),'r',encoding = 'utf-8') as infile:
                txt = infile.read()
            df = df.append([[txt,labels[l]]],ignore_index=True)
            pbar.update()

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:16

In [23]:
print(df.head())

                                              review  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1

In [24]:
df.columns = ['review','sentiment']

In [25]:
print(df.head())
print(df.tail())

                                              review  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1
                                                  review  sentiment
49995  Towards the end of the movie, I felt it was to...          0
49996  This is the kind of movie that my enemies cont...          0
49997  I saw 'Descent' last night at the Stockholm Fi...          0
49998  Some films that you pick up for a pound turn o...          0
49999  This is one of the dumbest films, I've ever se...          0

ソートされているのがわかる

In [26]:
import numpy as np
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [27]:
df.head() # シャフルしたのが確認できる

                                                  review  sentiment
11841  In 1974, the teenager Martha Moxley (Maggie Gr...          1
19602  OK... so... I really like Kris Kristofferson a...          0
45519  ***SPOILER*** Do not read this, if you think a...          0
25747  hi for all the people who have seen this wonde...          1
42642  I recently bought the DVD, forgetting just how...          0

In [28]:
df.to_csv('movie_data.csv',index=False,encoding='utf-8')

In [29]:
df = pd.read_csv('movie_data.csv',encoding = 'utf-8')

In [30]:
df.head(7)

                                              review  sentiment
0  In 1974, the teenager Martha Moxley (Maggie Gr...          1
1  OK... so... I really like Kris Kristofferson a...          0
2  ***SPOILER*** Do not read this, if you think a...          0
3  hi for all the people who have seen this wonde...          1
4  I recently bought the DVD, forgetting just how...          0
5  Leave it to Braik to put on a good show. Final...          1
6  Nathan Detroit (Frank Sinatra) is the manager ...          1

<h2>BoWモデルを作成する</h2>
<h5>BoW(Bag-of-Words)モデルとは</h5>
<body>1. 文書全体からトークンからなる語彙を作成する<br>
    2. 各文書での各単語の出現回数を含んだ特徴ベクトルを構築する</body>

from sklearn.feature_extraction.text import TfidfTransformer,CountVectorizer
count = CountVectorizer()
docnp.array([
    #ここに数えたい単語列を書く
])
tfidf = TfidfTransformer(use_idf=True,norm='12',smooth_idf=True)
np.set_printoptions(precision=2)
print(tfidf.fit_transform(count.fit_transform(docs)).toarray())

In [31]:
for i in range(5):
    print(df.loc[i,'review'][-50:])   #上から5つの文章の最後50文字

is seven.<br /><br />Title (Brazil): Not Available
e DVD! Believe me, you'll thank me for the advice!
s flick.<br /><br />Two thumbs down (3 out of 10).
th the mirror its so oh you have to watch this one
queeze every bit of joy and spontaneity out of it.

In [52]:
import re #正規表現 re (regular expression)
def preprocessor(text):
    text = re.sub('<[^>]*>','',text) # <[^>]*> でHTMLタグを削除
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)',text)
    text = (re.sub('[\W]+',' ',text.lower()) + ''.join(emoticons).replace('-',''))
    return text

In [53]:
preprocessor(df.loc[0,'review'][-50:])

'is seven title brazil not available'

In [54]:
preprocessor('</a>This :) is :( a test :-)!')

'this is a test :):(:)'

In [55]:
def tokenizer(text):
    return text.split()

tokenizer('runners like running and thus they run')

['runners', 'like', 'running', 'and', 'thus', 'they', 'run']

In [58]:
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()
def torkenizer_porter(text):
    return [porter.stem(word) for word in text.split()]